{% extends "base.html" %}

{% block content %}


<div class = "row">
    <div class = "col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Employee Management</h5>
                <h5>34</h5>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>




    <div class = "col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Department</h5>
                <h5>4</h5>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>





{% endblock %}